In [1]:
import pandas as pd
import numpy as np

In [2]:
#Agregar columnas a un dataframe, por medio de un diccionario
dicc = {}
for key in ['med0', 'med1']:
    lista = []
    for valor in range(10):
        lista.append(valor)

    dicc[key] = lista

pd.DataFrame(dicc)

   med0  med1
0     0     0
1     1     1
2     2     2
3     3     3
4     4     4
5     5     5
6     6     6
7     7     7
8     8     8
9     9     9

In [33]:
a = [-1,2,-3,4,-5]
b = [10,-20,-30,-40,50]
pd.DataFrame({'columna1':a, 'columna2':b})

   columna1  columna2
0        -1        10
1         2       -20
2        -3       -30
3         4       -40
4        -5        50

In [34]:
df=pd.DataFrame([a,b], index=['col1','col2']).transpose()
df

   col1  col2
0    -1    10
1     2   -20
2    -3   -30
3     4   -40
4    -5    50

In [40]:
# Iteración por columnas del DataFrame:
for col in df:
    print(df[col].mean())

print()

suma=0
# Iteración por filas del DataFrame:
for indice_fila, fila in df.iterrows():
    cont=0
    for key in ['col1','col2']:
        if(fila[key] > 0):
            cont+=1
            #print(fila[key])
    #if(cont>3):#El 3 lo indicara el medico de cada especialidad
        #Insertar en el dataframe de probabilidades

-0.6
-6.0

10
2
4
50

In [66]:
lista = ['Alta','Normal','Baja']
dfpresion = pd.DataFrame(columns=lista)
dfpresion

Empty DataFrame
Columns: [Alta, Normal, Baja]
Index: []

In [68]:
lista = ['Alta','Normal','Baja']
df2 = pd.DataFrame([[0.3,0.1,0.5]], columns=lista)
df = dfpresion.append(df2)

In [69]:
df

   Alta  Normal  Baja
0   0.3     0.1   0.5