In [1]:
import pandas as pd
import numpy as np

In [2]:
dicc = {}
for key in ['med0', 'med1']:
    lista = []
    for valor in range(10):
        lista.append(valor)

    dicc[key] = lista

pd.DataFrame(dicc)

   med0  med1
0     0     0
1     1     1
2     2     2
3     3     3
4     4     4
5     5     5
6     6     6
7     7     7
8     8     8
9     9     9

In [3]:
a = [1,2,3,4,5]
b = [10,20,30,40,50]
pd.DataFrame({'columna1':a, 'columna2':b})

   columna1  columna2
0         1        10
1         2        20
2         3        30
3         4        40
4         5        50

In [4]:
pd.DataFrame([a,b], index=['col1','col2']).transpose()

   col1  col2
0     1    10
1     2    20
2     3    30
3     4    40
4     5    50